@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(246, 246, 246);
    color: #0f141e;
    background-color: #f1f1f1;
}

 .main {
    max-width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

 .header {
    display: flex;
    justify-content: center; 
}

.myName h1 {
    letter-spacing: 25px;
    padding-left: 23%;
    color: #f26d2e;
    text-shadow: #868382 2px 3px 4px;
    font-size: 40px;
}

 .secondBlock {
     margin-left: 50px;
     font-size: 19px;
    text-shadow: #868382 2px 3px 4px;
}

.main .header .firstBlock .foto {
    border-radius: 50px;
    box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.5);
    width: 200px;
}

.hobby {
    padding-left: 50px;;
    border: 2px solid black;
    border-radius: 15%;
    background-color: aquamarine;
    margin-bottom: 20px;
}

.work {
    padding-left: 50px;;
    border: 2px solid black;
    border-radius: 15%;
    background-color: fuchsia;
    margin-bottom: 20px;
}

.education {
    padding-left: 50px;;
    border: 2px solid black;
    border-radius: 15%;
    background-color: rgb(11, 119, 29);
    margin-bottom: 20px;
}

.footer {
    display: flex;
    padding-left: 50px;;
    border: 2px solid black;
    border-radius: 15%;
    background-color: orange;
    margin-bottom: 20px;
    margin: auto;
    justify-content: left;

}

.footer .footer-info {
  /* display: block; */
}

.footer .logoRS {
    width: 500px;
    height: 100px;
    padding-left: 70px;
    cursor: pointer;

}