@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(246, 246, 246);
    color: #0f141e;
    background-color: #f1f1f1;
}

 .main {
    max-width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 955px) {
    .main {
        max-width: 95%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .main .header {
        display: block;
        justify-content: center; 
    } 
    .main .header .firstBlock .foto {
        display: block;
        margin: auto;

    }
  }
   
  .main header {
    display: flex;
    justify-content: center; 
} 

.myName h1 {
    letter-spacing: 15px;
    color: #f26d2e;
    text-shadow: #868382 2px 3px 4px;
    font-size: 66px;
    text-align: center;
}

 .secondBlock {
     margin-left: 50px;
     font-size: 19px;
    text-shadow: #868382 2px 3px 4px;
}

.main .header .firstBlock .foto {
    border-radius: 50px;
    box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.5);
    width: 200px;
}

.nav {
    margin-top: 75px;
    border: 2px solid black;
    border-radius: 15%;
    text-align: center;
    background-color: rgb(15, 119, 232);
    margin-bottom: 20px;
    font-size: 22px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}   

.nav li a {
    text-decoration: none;
    color: #f2e30b;
}

.nav li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    box-shadow: 2px 2px 2px black;
    padding: 3px;
    font-size: 28px;
}

.nav li a:hover {
    background: #ec0ec0;
    color: #fff;
    text-decoration: none;
    border-radius: 25%;
    }

.hobby {
    text-align: justify;
    margin-top: 75px;
    padding-left: 50px;;
    padding-right: 50px;
    border: 2px solid black;
    border-radius: 15%;
    background-color: aquamarine;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.code {
    height: auto;
    text-align: justify;
    margin-top: 75px;
    padding: 15px 50px;
    border: 2px solid black;
    border-radius: 15%;
    background-color: aquamarine;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.code code {
font-size: 12px;
}

.work {
    text-align: justify;
    margin-top: 75px;
    padding-left: 50px;;
    padding-right: 50px;
    border: 2px solid black;
    border-radius: 15%;
    background-color: fuchsia;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.education {
    text-align: justify;
    margin-top: 75px;
    padding-left: 50px;;
    padding-right: 50px;
    border: 2px solid black;
    border-radius: 15%;
    background-color: rgb(11, 119, 29);
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.skills {
    margin-top: 75px;
    padding-left: 50px;;
    padding-right: 50px;
    border: 2px solid black;
    border-radius: 15%;
    background-color: rgb(225, 84, 13);
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.skills li {
    list-style-type: none;
}

.footer {
    margin-top: 75px;
    display: flex;
    padding-left: 50px;;
    padding-right: 50px;
    border: 2px solid black;
    border-radius: 15%;
    background-color: orange;
    margin-bottom: 20px;
    font-size: 16px;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.footer .logoRS {
    width: 500px;
    height: 100px;
    padding-left: 70px;
    cursor: pointer;
}